<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">

    <title>Сайт Анастасии Ковальчук</title>
    <!--stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <!-- scripts -->

  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-fixed-top">
        <div class="navbar-brand">
          <span class="hidden">Anastasia Kovalchuk</span>
        </div>
        <span class="menu-title">MЕНЮ</span>
        <ul id="primary" class="nav-menu navbar-left">
          <span class="nav-collapser">x</span>
          <li class="nav-item">О НАС</li>
          <li class="nav-item">УСЛУГИ И ЦЕНЫ</li>
          <li class="nav-item">БЛОГ</li>
          <li class="nav-item">ПОРТФОЛИО</li>
          <li class="nav-item">КОНТАКТЫ</li>
        </ul>
        <div class="navbar-right">
          <span class="tel">7(499)499-11-29</span>
          <button class="headerModal-trigger" data-toggle="modal" data-target="#headerModal">Заказать звонок</button>
        </div>
      </nav>
    </header>
    <h1>Test</h1>
    <footer class="site-footer">

    </footer>
    <!--scripts-->
    <div class="scripts invisible">
      <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!-- Fallbacks
      <script>window.jQuery || document.write("<script src='js/jquery.min.js'\></script\>");</script>
      <script>$.fn.modal || document.write('<script src="js/bootstrap.min.js"\></script\>');</script>
      <script>
          (function($){
              var $span = $('<span class="fa" style="display:none"></span>').appendTo('body');
              if ($span.css('fontFamily') !== 'FontAwesome' ) {
                  // Fallback Link
                  $('head').append('<link href="css/font-awesome.min.css" rel="stylesheet">');
              }
              $span.remove();
          })(jQuery);
      </script>
       -->
    </div>
  </body>
</html>
