<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">

    <title>Сайт Анастасии Ковальчук</title>
    <!--stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <!-- scripts -->

  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-fixed-top" expand-aria='true'>
        <div class="container navbar-wrapper">
          <div class="navbar-brand">
            <span class="hidden">Anastasia Kovalchuk</span>
            <img src="/images/logo.png" alt="brand-logo" class="brand-logo">
          </div>
          <div id="primaryMenuTrigger">
            <span class="menu-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 20" class="icon icon-bars">
                <rect class="icon-bars__1" x="1" y="1" width="19" height="3"/>
                <rect class="icon-bars__2" x="1" y="8" width="19" height="3"/>
                <rect class="icon-bars__3" x="1" y="15" width="19" height="3"/>
              </svg>
            </span>
            <span class="menu-title">MЕНЮ</span>
            <script>
              var menuIcon = document.querySelector('.menu-icon');
              menuIcon.addEventListener('click', function(){
                var menuTrigger = document.getElementById('primaryMenuTrigger');
                menuTrigger.classList.toggle('open');
              })
            </script>
          </div>
          <ul id="primaryMenu" class="nav-menu navbar-left">
            <li class="nav-item"><a href="#">О НАС</a></li>
            <li class="nav-item"><a href="#">УСЛУГИ И ЦЕНЫ</a></li>
            <li class="nav-item"><a href="#">БЛОГ</a></li>
            <li class="nav-item"><a href="#">ПОРТФОЛИО</a></li>
            <li class="nav-item"><a href="#">КОНТАКТЫ</a></li>
          </ul>
          <div id="primaryRight">
            <span class="tel">7(499)499-11-29</span>
            <span class="email">info@yandex.ru</span>
            <button class="headerModal-trigger" data-toggle="modal" data-target="#headerModal">Заказать звонок</button>
          </div>
        </div>
      </nav>
      <div class="modal fade" id="headerModal" role="dialog">
        <div class="modal-dialog modal-md">
        <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="form-header">СВЯЗАТЬСЯ С НАМИ</h4>
              <span class="form-header__sub">Оставьте свой номер телефона и мы Вам обязательно перезвоним</span>
              <button type="button" class="modal-escape" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body header-form-container">
              <!-- <div class="screen-reader-response"></div> -->
              <form action="" method="post" class="wpcf7-form" novalidate="novalidate">
                  <div class="inputgroup">
                    <input type="tel" name="number" value="" size="40" minlength="10" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-input" id="headerFormPhone" aria-required="true" aria-invalid="false" placeholder="012-345-67-89"><label> Номер телефона  </label>
                  </div>
                  <div class="inputgroup">
                    <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required text form-input" id="headerFormName" aria-required="true" aria-invalid="false" placeholder="Ваше имя"><label>Ваше имя</label>
                  </div>
                  <p><input type="submit" value="Заказать консультацию" class="wpcf7-form-control wpcf7-submit btn btn-main btn-lg"></p>
                  <span class="ajax-loader"></span>
                  <div class="wpcf7-response-output wpcf7-display-none"></div>
              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="headerModalResponse" role="dialog">
        <div class="modal-dialog modal-md">
        <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="form-header">СПАСИБО!</h4>
              <span class="form-header__sub">Ваше сообщение было отправлено успешно.</span>
              <span class="form-header__sub">Мы свяжемся с Вами в ближайшее время!</span>
              <button type="button" class="modal-escape" data-dismiss="modal">x</button>
            </div>
          </div>
        </div>
      </div>

    </header>
    <h1>Test</h1>
    <footer class="site-footer">

    </footer>
    <!--scripts-->
    <div class="scripts invisible">
      <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!-- Fallbacks
      <script>window.jQuery || document.write("<script src='js/jquery.min.js'\></script\>");</script>
      <script>$.fn.modal || document.write('<script src="js/bootstrap.min.js"\></script\>');</script>
      <script>
          (function($){
              var $span = $('<span class="fa" style="display:none"></span>').appendTo('body');
              if ($span.css('fontFamily') !== 'FontAwesome' ) {
                  // Fallback Link
                  $('head').append('<link href="css/font-awesome.min.css" rel="stylesheet">');
              }
              $span.remove();
          })(jQuery);
      </script>
       -->
    </div>
  </body>
</html>
