$dark: #1a171b;
$inactive: #646265;
$hover: #e8d7bb;


a{
  color: #fff;
  &:hover{
    color: $hover;
  }
}
/***header**/
.navbar-fixed-top, .navbar-wrapper, #primaryMenu, #primaryRight{
  background-color: $dark;
  color: #fff;
}
#headerModal .modal-content{
  color: #fff;
  & .modal-escape{
    background-color: inherit;
    border: 0;
    &:hover{
      color: $hover;
    }
  }
  & input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
  }
  & input[type=submit]{
    border: 0;
    background-color: $hover;
    color: $dark;
  }
}
#headerModalResponse .modal-content{
  color: #fff;
  & .modal-escape{
    background-color: inherit;
    border: 0;
    &:hover{
      color: $hover;
    }
  }
}
@media screen and (max-width:767px) {
  #primaryMenuTrigger.open ~ #primaryMenu .nav-item:hover{
    background-color: $hover;
    color: $dark;
  }
  #primaryMenuTrigger.open ~ #primaryRight{
    & .tel:before{
      color: $hover;
    }
    & .email:before{
      color: $hover;
    }
  }
}

/***END header**/
.section-header--sup{
  color:#000;
  &:before{
    color: $hover;
  }
}
.top-slider{
  & .multi-item-carousel{
            color:#fff;
    & .carousel-control{
      border: 1px solid #fff;
      &.right:before{
        content:'';
        display: block;
        width: 0px;
        height: 0px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #fff;
        margin: 10px 12px;
      }
      &.left:before{
        content:'';
        display: block;
        width: 0px;
        height: 0px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #fff;
        margin: 10px 12px;
      }
    }
  }
  & .container{
    & .social{
      & .social-link{
        color:#fff;
        border: 1px solid #fff;
        & svg{
          fill:#fff;
        }
        &:hover{
          color: $hover;
          border: 1px solid $hover;
        }
        &:hover svg{
          fill: $hover;
        }
      }
    }
  }
}

/*************/
.row.section>.container{
  &:before{
    background:
      url('data:image/svg+xml;utf-8,<?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 100" stroke="#e8d7bb"><path d="M2 0v45"/><path stroke-width="2" d="M2 45v10"/><path d="M2 55v45"/></svg>'),
      url('data:image/svg+xml;utf-8,<?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 100" stroke="#e8d7bb"><path d="M2 0v25"/><path stroke-width="2" d="M2 25v10"/><path d="M2 35v65"/></svg>'),
      url('data:image/svg+xml;utf-8,<?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 100" stroke="#e8d7bb"><path d="M2 0v15"/><path stroke-width="2" d="M2 15v10"/><path d="M2 25v95"/></svg>');
    background-repeat:repeat-y;
    background-position:left, center, right;
    background-size:300px 300px;
  }
  & .btn-arrow{
    color: #000;
  }
}
@media screen and (max-width:767px) {
  .row.section>.container{
    &:before{
      background: #fff;
    }
  }
}
.btn-arrow{
  border: 1px solid $hover;
  background-color: inherit;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(232,215,187,1), 0px 0px 10px 1px rgba(232,215,187,1);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(232,215,187,1), 0px 0px 10px 1px rgba(232,215,187,1);
  box-shadow: inset 0px 0px 10px 1px rgba(232,215,187,1), 0px 0px 10px 1px rgba(232,215,187,1);
  &:after{
    color: $hover;
    background-color: #fff;
    text-shadow: 0px 1px 10px rgba(232,215,187,1), 0px -1px 10px rgba(232,215,187,1);
  }
}
.btn-main{
  border: 1px solid $hover;
  background-color: inherit;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(232,215,187,1), 0px 0px 10px 1px rgba(232,215,187,1);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(232,215,187,1), 0px 0px 10px 1px rgba(232,215,187,1);
  box-shadow: inset 0px 0px 10px 1px rgba(232,215,187,1), 0px 0px 10px 1px rgba(232,215,187,1);
}
/***section purposes***/
.purposes{
  // background-color: #fbfbfb;
  & .purposes-header{}
  & .purposes-list{
    list-style-type: none;
    & .purposes-item{
      position: relative;
        &.active:before{
          content: '';
          position: absolute;
          top: -1px;
          left: -1px;
          right: -1px;
          bottom: -1px;
          background-image: -webkit-gradient(radial, left top, 10, 90% 0%, 150, from($inactive), to(transparent));
          background-image: -webkit-radial-gradient(left top, 150px 230px, $inactive, transparent);
          background-image: -moz-radial-gradient(left top, farthest-corner, $inactive 0%, transparent 72%);
          z-index: -2;
        }
        &.active:after{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: #fff;
          z-index: -1;
        }
      & .purposes-item--header{
        display: block;
        &:before{
          background: inherit;
          color: $inactive;
        }
        &:hover:before{
          background-color: $hover;
          color: $dark;
        }
      }
      &.active .purposes-item--header:before{
          background-color: $hover;
          color: $dark;
      }
    }
  }
  & .purposes-item--description{
    &  p{
      background-color: $dark;
      color: #fff;
    }
    & .purposes-image{

    }
  }
}
/***END section purposes***/
/***section instafeed***/
.instafeed{
  background: $dark;
  color: #fff;
  & .container{
    & .instafeed-header{
      .section-header--sup{
        color:#fff;
      }
      .instafeed-title{
      }
      & .btn-arrow{
        color:#fff;
        &:hover{
          color: $hover;
        }
        &:after{
          background-color: $dark;
        }
      }
    }
    .masonry-wrapper{
      .masonry{
        #instafeed{
        }
      }
    }
  }
}
/***END section instafeed***/
/***section why-us***/
.why-us{
  & .container{
    & .why-us--header{
      & .section-header--sup{}
      & .section-header{}
    }
    & .features-wrapper{
      & .feature{
        background: #fff;
        border: 1px solid $inactive;
        & .feature-count{
          color: $hover;
        }
        & .feature-title{}
        & .feature-description{}
      }
    }
  }
}
/***END section why-us***/
/***section portfolio***/
.section.portfolio{
  background-color: $dark;
  & .tab-container{
    & .nav.nav-tabs.nav-tabs-left.nav-centered{
      color:#fff;
      & li{
        & span{}
        & a{
          color: $inactive;
          &:hover{
            background: inherit;
          }
        }
        &:after{}
      }
      & li.active{
          & span{}
          & a{
            background-color: inherit;
            color:#fff;
          }
          &:after{
            color: $hover;
          }
      }
      & .btn-arrow{
        color:#fff;
        &:hover{
          color: $hover;
        }
        &:after{
          background-color: $dark;
        }
      }
    }
    & .container{
      background-color: #fff;
      & #portfoiloTabs{
        background-color: #fff;
        color: $dark;
        & .tab-pane{
          & .col-md-4{
            &:hover{
              & .thumbnail-panel{
                  background-color: $dark;
                  color: #fff;
                  & .social-link{
                    color:$hover;
                    border: 1px solid $hover;
                  }
                }
              }
            & .thumbnail-panel{

            }
          }
        }
        & #appInterior{}
        & #pubInterior{}
        & #cottage{}
        & #exterior{}
      }
    }
  }
}
/***END section portfolio***/
/***section contact-form***/
.section.contact-form{
  & #contactForm{
    background: rgba(0,0,0,0.5);
    & .section-header{
      color:#fff;
      &:after{
        display: block;
        content:'';
        width:10%;
        height: 0.5rem;
        border-bottom: 2px solid $hover;
        margin-left: 45%;
      }
    }
    & .field-group{
      .inputgroup{
        input{
          background: inherit;
          border: 0;
          border-bottom: 2px solid $hover;
          color:#aaa9a7;
        }
        label{
          color:#aaa9a7;
        }
      }
      #contactFormName{}
      #contactFormPhone{}
    }
    .contact-form__submit{
      color:#fff;
      & button:after{
        right:-15px;
        background-color:  transparent;
        //rgba(35,37,34,1);
        // rgba(61,56,52,0.9);
        line-height: 1.25rem;
      }
    }
    &>.inputgroup{
      & #contactFormPolicy{
        opacity: 0;
      }
      & #contactFormPolicy + label{
        color: #aaa9a7;
      }
      label {
        cursor: pointer;
      }
      input[type="checkbox"] + label:before {
        border: 1px solid #aaa9a7;
        content: "\00a0";
        display: inline-block;
        height: 16px;
        margin: 0 .25em 0 0;
        padding: 0;
        vertical-align: top;
        width: 16px;
        text-indent: 0;
      }
      input[type="checkbox"]:checked + label:before {
        background: transparent;
        color: #aaa9a7;
        content: "\2713";
        text-align: center;
        font-size: 1.2rem;
        line-height: 0.3rem;
      }
      input[type="checkbox"]:checked + label:after {
        font-weight: bold;
      }
    }
    & .contact-form__message{}
  }
}
/***END section contact-form***/
/***footer**/
.site-footer{}
.section.contacts{
  & .contacts-wrapper{
    background-color: #fff;
    & h2{}
    & .contacts-list{}
    & .btn-arrow{}
    & .social{
      & .social-link{
        color:#000;
        border: 1px solid #000;
        &:hover{
          color: $hover;
          border: 1px solid $hover;
        }
        &:hover svg{
          fill: $hover;
        }
      }
    }
  }
}
.footer{
  background-color: $dark;
}
@media screen and (max-width:767px) {
  .section.contacts{
    & .contacts-wrapper .social .social-link{
      color: #fff;
      border: 1px solid #fff;
      & svg{
        fill: #fff;
      }
    }
  }
}
/***END footer**/
// page contacts
.section.title-section{
  .container{
    .breadcrumbs{
      color:#000;
      & span:first-child{
        color: $hover;
      }
    }
    .page-header{
      .section-header--sup{

      }
      .section-header{
        font-family: "PT-Serif-Caption-Web-Regular";
        font-size: 2.222rem;
        line-height: 1.944em;
      }
      .section-header--sub{}
    }
  }
}
// END page contacts
// page about
.section.about-us--page-01{
  .container{
    .breadcrumbs{
      color:#000;
      & span:first-child{
        color: $hover;
      }
    }
    .page-header{
      .section-header--sup{

      }
      .section-header{
        font-family: "PT-Serif-Caption-Web-Regular";
        font-size: 2.222rem;
        line-height: 1.944em;
      }
      .section-header--sub{}
    }
    & .about-us--page-description{
      border: 1px solid $hover;

    }
  }
}
.section.about-us--page-02{
  background-color: $dark;
  color: #fff;
  .container{
  }
}
.section.about-us--page-03{
  .container{
    .section-header{
      background-color: #fff;
      &:before{
        content:'';
        display: block;
        width:3rem;
        border-bottom: 2px solid $dark;
        position: absolute;
        left:-2rem;
        top:0.5rem;
      }
    }
    .about-us--media{
      .brand-photo1{}
      #aboutUsVideoTrigger{}
    }
    .about-us--page-03-description{
      border:1px solid rgba(35,35,35,0.2);
      p{
      }
      p:first-child{
      }
    }
  }
}
// page blog
.section.category-blog{
  .container{
    .breadcrumbs{
      color:#000;
      & span:first-child{
        color: $hover;
      }
    }
    .page-header{
      display: inline-block;
      width: 100%;
      margin:0;
      padding-bottom: 40px;
      border:0;
      .section-header--sup{
        display: block;
        top:115px;
        left:20px;
      }
      .section-header{
        display: block;
        width:40%;
        float: left;
        margin: 0 0 0 80px;
      }
    }
  }
  .container{
    .blog-item{
      background-color: $dark;
      color:#fff;
      &:hover{
        background-color: $hover;
        color: $dark;
        .blog-item__permalink{
            color: $dark;
        }
      }
      .thumbnail{
      }
      .blog-item__description{

        .blog-item__header{}
        .blog-item__date{}
        .blog-item__excerpt{}
        .blog-item__permalink{
          &:hover{
            color: $dark;
          }
        }
      }
    }
    .btn-dblarrow{
      background-color: #fff;
      border:2px solid $hover;
      &:after{
        color: $hover;
        background-color: #fff;
      }
    }
  }
}
// END page blog
// page portfolio-category
.section.category-portfolio{
  .container{
    .breadcrumbs{
      color:#000;
      & span:first-child{
        color: $hover;
      }
    }
    .page-header{
      display: inline-block;
      width: 100%;
      margin:0;
      padding-bottom: 40px;
      border:0;
      .section-header--sup{
        display: block;
        top:115px;
        left:20px;
      }
      .section-header{
        display: block;
        width:40%;
        float: left;
        margin: 0 0 0 80px;
      }
    }
  }
  .filters-button-group{
    .btn-tab{
      background-color: $dark;
      color: #fff;
      img{
      }
      span{
        background-color: $dark;
        &:after{
          content:'';
          display:none;
          width:100%;
          height:100%;
          border: 2px solid $hover;
          position: absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
        }
      }
      &:hover{
        span{
          background-color: rgba(26, 23, 27, 0.5);
          &:after{
            display: block;
            transform: scale(0.8);
          }
        }
      }
    }
  }
  #grid-container{
    article{
      & .thumbnail{
      }
      & .thumbnail-panel{
        background-color: $dark;
        & h3{
        }
        & .social-link{
        }
      }
      &:hover{
        & .thumbnail-panel{
            background-color: $dark;
            color: #fff;
            & .social-link{
              color:$hover;
              border: 1px solid $hover;
            }
        }
      }
    }
  }
  .btn-dblarrow{
    background-color: #fff;
    border:2px solid $hover;
    &:after{
      color: $hover;
      background-color: #fff;
    }
  }
}
// END page portfolio-category
// page portfolio-single
.section.portfolio-single{
  .container{
    .breadcrumbs{
      color:#000;
      & span:first-child{
        color: $hover;
      }
    }
    .page-header{
      display: inline-block;
      width: 100%;
      margin:0;
      padding-bottom: 40px;
      border:0;
      .section-header--sup{
        display: block;
        top:115px;
        left:20px;
      }
      .section-header{
        display: block;
        width:40%;
        float: left;
        margin: 0 0 0 80px;
      }
    }
  }
  #gridItemView{
    #gridItemLayout{
      img{
        width:100%;
        border: 6px solid $hover;
        border-radius: 5px;
      }
      .modal-escape{
        border-radius: 50%;
        background-color: $dark;
        border-color: $dark;
        color: $hover;
        &:hover{
          color:$dark;
          background-color: $hover;
          border-color: $hover;
        }
      }
      #prev{
        border-radius: 50%;
        background-color: $dark;
        border-color: $dark;
        color: $hover;
        &:hover{
          color:$dark;
          background-color: $hover;
          border-color: $hover;
        }
      }
      #next{
        border-radius: 50%;
        background-color: $dark;
        border-color: $dark;
        color: $hover;
        &:hover{
          color:$dark;
          background-color: $hover;
          border-color: $hover;
        }
      }
    }
  }
}
// END page portfolio-single

.section.single-service.author-support{
  .container{
    .breadcrumbs{
      color:$dark;
      & span:first-child{
        color: $hover;
      }
    }
    .page-header{
      .section-header{
        color: #fff;
      }
      .section-header--sup{
        color: #fff;
      }
      &:before{
        background-color: $dark;
      }
    }
  }
  .service-features{
    .necessarity-header{
      .section-header--sup{}
      .section-title{}
    }
  }
  .price-list-item.active{
    .price-list--header{
      color: $hover;
    }  
  }
  .calc-price-wrapper{
    background-color: $dark;
    color:#fff;
    & p{
      & span{
        color: $hover;
      }
    }
    & .btn-arrow{
      color:#fff;
      &:after{
        background-color: $dark;
        color:#fff;
      }
    }
  }
}
