/***header**/
#headerModal .modal-content, #headerModalResponse .modal-content{
  background-image: url(../images/modal-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media screen and (max-width:767px) {
  #primaryMenuTrigger.open ~ #primaryRight{
    & .tel:before{
      font-family: "Glyphicons Halflings";
      content: '\e182';
      margin-right: 10px;
    }
    & .email:before{
      font-family: "Glyphicons Halflings";
      content: '\2709';
      margin-right: 10px;
    }
  }
}
/***END header**/
.btn-arrow{
  position: relative;
  &:after{
    content: "\27F6";
    display: inline;
    position: absolute;
    right:-10px;
  }
}
.section.about-us{
  overflow: visible;
}
.section.about-us{
  background-image: url(../images/architect.png);
  background-repeat: no-repeat;
  background-position: right 30px bottom;
  background-size: 45%;
  z-index: 2;
  & .btn-logo{
    background: url(../images/logo-transparent.png), url(../images/play-button.png), linear-gradient(to bottom, #1a171b, #1a171b );
    background-position: top 50px center, bottom 30px center, center;
    background-size: 60%, 10%, contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    &:hover{
      background-size: 60%, 15%, contain;
      transition: all 0.3s ease-in-out;
    }
  }
}
@media screen and (max-width:767px) {
  .section.about-us{
    background-image: url(../images/architect.png);
    background-repeat: no-repeat;
    background-position: right -150px top 65px;
    background-size: 100%;
    z-index: 2;
  }
}
/***section purposes***/
.purposes{
  & .purposes-header{}
  & .purposes-list{
    list-style-type: none;
    & .purposes-item{
      & .purposes-item--header{
        display: block;
        &:before{
          display: inline-block;
          margin-right: 30px;
        }
      }
    }
  }
  & .purposes-item--description{

  }
}
/***END section purposes***/

/***footer**/

.social-link.instagram{}
.social-link.facebook{}
.social-link.houzz{}
.social-link.pinterest{}
.social-link.archiprofi{}
/***END footer**/
