html{
  font-family: "ProximaNova-Light";
  font-size: 18px;
  line-height: 1.667rem;
}
a{
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}
.btn-arrow{
  &:after{
    font-size: 1.25rem;
    line-height: 1.1rem;
  }
}
/***header**/
.navbar-fixed-top {
  font-family: "Exo2-RegularCondensed";
  font-size: 0.778rem;
  line-height: 1.667rem;
}
#primaryRight {
  line-height: 1rem;
  & .tel{
    font-size: 1rem;
  }
}
#headerModal .modal-content{
  & .form-header{
    font-family: "PT_Serif-Caption-Web-Regular";
    font-size: 2.222rem;
    line-height: 2.944em;
    text-align: center;
  }
  & .form-header__sub{
    font-family: "ProximaNova-Light";
    font-size: 1.111rem;
    line-height: 1.944rem;
    text-align: center;
  }
  & .modal-escape{
    font-size: 1.667rem;
  }
  & input[type=submit]{
    font-family: "Exo2-RegularCondensed";
    font-size: 0.778rem;
    line-height: 1.667rem;
  }
  & label{
    font-family: "ProximaNova-Light";
    font-size: 0.889rem;
    font-weight: normal;
    line-height: 1.944rem;
  }
}
#headerModalResponse .modal-content{
  & .form-header{
    font-family: "PT-Serif-Caption-Web-Regular";
    font-size: 2.222rem;
    line-height: 2.944em;
    text-align: center;
  }
  & .form-header__sub{
    font-family: "ProximaNova-Light";
    font-size: 1.111rem;
    line-height: 1.944rem;
    text-align: center;
  }
  & .modal-escape{
    font-size: 1.667rem;
  }
}
@media screen and (max-width:767px) {
  .navbar-fixed-top{
    line-height: 2.778rem;
  }
  #primaryRight {
    line-height: 1rem;
    & .tel{
      font-size: 1rem;
      line-height: 3rem;
    }
    & .email{
      font-size: 0.889rem;
      line-height: 1.278rem;
    }
  }
}
/***END header**/
.section.about-us{
  & .section-header.about-us--header{
    font-family: "PT-Serif-Caption-Web-Regular";
    font-size: 2.222rem;
    line-height: 1.944em;
  }
  & .about-us--description{
    font-family: "ProximaNova-Light";
    font-size: 1rem;
    font-weight: normal;
    line-height:  1.667rem;
  }
}
/***section purposes***/
.purposes{
  & .purposes-header{
    font-family: "PT-Serif-Caption-Web-Regular";
    font-size: 2.222rem;
    line-height: 3.222rem;
  }
  & .purposes-list{
    list-style-type: none;
    & .purposes-item{
      & .purposes-item--header{
        font-family: "Exo2-MediumCondensed";
        font-size: 1.222rem;
        line-height: 1.622rem;
        text-align: left;
        &:before{
          font-size:  1.389rem;
          line-height: 2rem;
        }
      }
      &:first-child .purposes-item--header{
        line-height: 2.822rem;
      }
      &:nth-child(4) .purposes-item--header{
        line-height: 2.822rem;
      }
    }
  }
  & .purposes-item--description{

  }
}
/***END section purposes***/

/***footer**/
.section.contacts{
  & .contacts-wrapper{
    & h2{
      font-family: "Exo2-MediumCondensed";
      font-size: 2.222rem;
      line-height: 1.667rem;
    }
    & .contacts-list{
      & .address{
        font-family: "Exo2-LightCondensed";
        font-size: 0.889rem;
        line-height: 1.667rem;
        &:before{
          content: '\f041';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
      }
      & .tel{
        font-family: "Exo2-MediumCondensed";
        font-size: 1rem;
        line-height: 1.667rem;
        &:before{
          content: '\f095';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
      }
      & .email{
        font-family: "Exo2-LightCondensed";
        font-size: 0.889rem;
        line-height: 1.667rem;
        &:before{
          font-family: FontAwesome;
          content: '\f0e0';
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
      }
    }
    & .btn-arrow{}
    & .social{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      & .social-link{
        line-height: 1rem;
        font-size: 1rem;
        text-align: center;
        &.instagram:before{
          content: '\f16d';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
        &.facebook:before{
          content: '\f09a';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
        &.houzz:before{
          content: '\f27c';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
        &.pinterest:before{
          content: '\f231';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
        &.archiprofi:before{

        }
      }
    }
  }
}
/***END footer**/
