html{
  font-family: "ProximaNova-Light";
  font-size: 18px;
  line-height: 1.667rem;
}
@media screen and (max-width:767px) {
  html{
    font-family: "ProximaNova-Light";
    font-size: 16px;
    line-height: 1.667rem;
  }
}
a{
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}
.section-header--sup{
  font-family: 'ProximaNova-Semibold';
  font-size: 1.667rem;
  &:before{
    content:'—';

  }
}
.btn-arrow{
  &:after{
    font-size: 1.25rem;
    line-height: 1.1rem;
  }
}
/***header**/
.navbar-fixed-top {
  font-family: "Exo2-RegularCondensed";
  font-size: 0.778rem;
  line-height: 1.667rem;
}
#primaryRight {
  line-height: 1rem;
  & .tel{
    font-size: 1rem;
  }
}
#headerModal .modal-content{
  & .form-header{
    font-family: "PT_Serif-Caption-Web-Regular";
    font-size: 2.222rem;
    line-height: 2.944em;
    text-align: center;
  }
  & .form-header__sub{
    font-family: "ProximaNova-Light";
    font-size: 1.111rem;
    line-height: 1.944rem;
    text-align: center;
  }
  & .modal-escape{
    font-size: 1.667rem;
  }
  & input[type=submit]{
    font-family: "Exo2-RegularCondensed";
    font-size: 0.778rem;
    line-height: 1.667rem;
  }
  & label{
    font-family: "ProximaNova-Light";
    font-size: 0.889rem;
    font-weight: normal;
    line-height: 1.944rem;
  }
}
#headerModalResponse .modal-content{
  & .form-header{
    font-family: "PT-Serif-Caption-Web-Regular";
    font-size: 2.222rem;
    line-height: 2.944em;
    text-align: center;
  }
  & .form-header__sub{
    font-family: "ProximaNova-Light";
    font-size: 1.111rem;
    line-height: 1.944rem;
    text-align: center;
  }
  & .modal-escape{
    font-size: 1.667rem;
  }
}
@media screen and (max-width:767px) {
  .navbar-fixed-top{
    line-height: 2.778rem;
  }
  #primaryRight {
    line-height: 1rem;
    & .tel{
      font-size: 1rem;
      line-height: 3rem;
    }
    & .email{
      font-size: 0.889rem;
      line-height: 1.278rem;
    }
  }
}
/***END header**/
.top-slider{
  & .multi-item-carousel{
    & .item.active{
      & .slide-header{
        font-family: 'ProximaNova-Semibold';
        font-size: 3.333rem;
        text-align: center;
      }
      & .brick-title{
        text-transform: uppercase;
        font-size: 0.8333rem;
        line-height: 1.278rem;
        text-align: center;
      }
    }
    & .carousel-control{}
  }
  & .social{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    & .social-link{
      line-height: 1rem;
      font-size: 1rem;
      text-align: center;
      &.instagram:before{
        content: '\f16d';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
      }
      &.facebook:before{
        content: '\f09a';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
      }
      &.houzz:before{
        content: '\f27c';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
      }
      &.pinterest:before{
        content: '\f231';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
      }
      &.archiprofi:before{

      }
    }
  }
}
/****************************/
.section.about-us{
  & .section-header.about-us--header{
    font-family: "PT-Serif-Caption-Web-Regular";
    font-size: 2.222rem;
    line-height: 1.944em;
  }
  & .about-us--description{
    font-family: "ProximaNova-Light";
    font-size: 1rem;
    font-weight: normal;
    line-height:  1.667rem;
  }
}
@media screen and (max-width:767px) {
  .section.about-us{
    & .section-header.about-us--header{
      font-family: "PT-Serif-Caption-Web-Regular";
      font-size: 1.313rem;
      line-height: 1.944em;
    }
    & .about-us--description{
      font-family: "ProximaNova-Light";
      font-size: 1rem;
      font-weight: normal;
      line-height:  1.667rem;
    }
  }
}
/***section purposes***/
.purposes{
  & .purposes-header{
    font-family: "PT-Serif-Caption-Web-Regular";
    font-size: 2.222rem;
    line-height: 3.222rem;
  }
  & .purposes-list{
    list-style-type: none;
    & .purposes-item{
      & .purposes-item--header{
        font-family: "Exo2-MediumCondensed";
        font-size: 1.222rem;
        line-height: 1.622rem;
        text-align: left;
        &:before{
          font-size:  1.389rem;
          line-height: 2rem;
        }
      }
      &:first-child .purposes-item--header{
        line-height: 2.822rem;
      }
      &:nth-child(4) .purposes-item--header{
        line-height: 2.822rem;
      }
    }
  }
  & .purposes-item--description{

  }
}
/***END section purposes***/
/***section instafeed***/
.instafeed{
  .instafeed-header{
    .instafeed-title{
      font-family: 'PT_Serif-Caption-Web-Regular';
      font-size: 2.222rem;
      line-height: 3.222rem;
      text-transform: uppercase;
    }
    .btn-arrow{
    }
  }
  .masonry-wrapper{
    .masonry{
      #instafeed{
      }
    }
  }
}
/***END section instafeed***/
/***section why-us***/
.why-us{
  & .container{
    & .why-us--header{
      & .section-header--sup{}
      & .section-header{
        font-family: "PT-Serif-Caption-Web-Regular";
        font-size: 2.222rem;
        line-height: 3.222rem;
        text-transform: uppercase;
      }
    }
    & .features-wrapper{
      & .feature{
        & .feature-count{
          font-family: 'ProximaNova-Bold';
          font-size: 2.667rem;
          text-align: center;
        }
        & .feature-title{
          font-family: 'Exo2-MediumCondensed';
          font-size: 1.222rem;
          text-align: center;
        }
        & .feature-description{
          font-family: 'ProximaNova-Light';
          font-size: 1rem;
          line-height: 1.667rem;
          text-align: center;
        }
      }
    }
  }
}
/***END section why-us***/
/***section portfolio***/
.section.portfolio{
  & .tab-container{
    & .nav.nav-tabs.nav-tabs-left.nav-centered{
      & .portfolio-header{
        & .section-header--sup{
          color: #fff;
        }
        & .section-header{
          font-family: "PT-Serif-Caption-Web-Regular";
          font-size: 2.222rem;
          line-height: 3.222rem;
          text-transform: uppercase;
        }
      }
      & li{
        & span{
          font-size: 5.556rem;
          color: rgba(255,255,255,0.2);
        }
        & a{
          font-family: 'Exo2-MediumCondensed';
          font-size: 1.222rem;
          text-align: center;
        }
        &:after{}
      }
      & li.active{
        & span{

        }
        & a{

        }
        &:after{
        }
      }
      & .btn-arrow{
        font-family: 'ProximaNova-Semibold';
        font-size: 0.7778rem;
        text-align: center;
      }
    }
    & #portfoiloTabs{
      & .tab-pane{
        & .thumbnail{
          &:hover{

          }
        }
        & .thumbnail-panel{
          & h3{
            font-family: "Exo2-RegularCondensed";
            font-size:  0.8333rem;
            line-height: 1rem;
          }
          & .social-link{
            padding: 0.25rem;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
            margin-top: 15px;
            line-height: 1rem;
            font-size: 1rem;
            text-align: center;
            &.instagram:before{
              content: '\f16d';
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              font-size: 1rem;
            }
          }
        }
      }
      & #appInterior{}
      & #pubInterior{}
      & #cottage{}
      & #exterior{}
    }
  }
}
/***END section portfolio***/
/***section contact-form***/
.section.contact-form{
  #contactForm{
    .section-header{
      font-family: 'Exo2-MediumCondensed';
      font-size: 2.222rem;
      text-align: center;

    }
    .field-group{
      .inputgroup{
        input{}
        label{}
      }
      #contactFormName{}
      #contactFormPhone{}
    }
    .contact-form__submit{}
    &>.inputgroup{
      & #contactFormPolicy{}
      & #contactFormPolicy ~ label{
        text-indent: 3rem;
        :before{
        }
      }
    }
    & .contact-form__message{}
  }
}
/***END section contact-form***/
/***footer**/
.section.contacts{
  & .contacts-wrapper{
    & h2{
      font-family: "Exo2-MediumCondensed";
      font-size: 2.222rem;
      line-height: 1.667rem;
    }
    & .contacts-list{
      & .address{
        font-family: "Exo2-LightCondensed";
        font-size: 0.889rem;
        line-height: 1.667rem;
        &:before{
          content: '\f041';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
      }
      & .tel{
        font-family: "Exo2-MediumCondensed";
        font-size: 1rem;
        line-height: 1.667rem;
        &:before{
          content: '\f095';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
      }
      & .email{
        font-family: "Exo2-LightCondensed";
        font-size: 0.889rem;
        line-height: 1.667rem;
        &:before{
          font-family: FontAwesome;
          content: '\f0e0';
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
      }
    }
    & .btn-arrow{}
    & .social{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      & .social-link{
        line-height: 1rem;
        font-size: 1rem;
        text-align: center;
        &.instagram:before{
          content: '\f16d';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
        &.facebook:before{
          content: '\f09a';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
        &.houzz:before{
          content: '\f27c';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
        &.pinterest:before{
          content: '\f231';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
        }
        &.archiprofi:before{

        }
      }
    }
  }
}
/***END footer**/
// page contacts
.section.title-section{
  .container{
    .breadcrumbs{
      text-transform: uppercase;
      font-family: 'Exo2-RegularCondensed';
      font-size: 0.8333rem;
      line-height:  1.278rem;

    }
    .page-header{
      .section-header--sup{

      }
      .section-header{
        font-family: "PT-Serif-Caption-Web-Regular";
        font-size: 2.222rem;
        line-height: 1.944em;
      }
      .section-header--sub{
        font-family: 'Exo2-MediumCondensed';
        font-size: 1.389rem;
        line-height: 1.389rem;
        font-style: italic;
      }
    }
  }
}
.section.contacts{
  h2.contacts-page--subheader{
    font-family: 'Exo2-MediumCondensed';
    font-size: 1.222rem;
    line-height: 1.222rem;
    font-style: italic;
  }
  .contacts-page--social{
    margin-top:0;
  }
}
// END page contacts
// page about
.section.about-us--page-01{
  .container{
    .breadcrumbs{
      text-transform: uppercase;
      font-family: 'Exo2-RegularCondensed';
      font-size: 0.8333rem;
      line-height:  1.278rem;
    }
    .page-header{
      .section-header--sup{

      }
      .section-header{
        font-family: "PT-Serif-Caption-Web-Regular";
        font-size: 2.222rem;
        line-height: 2.222rem;
      }
      .section-header--sub{
        font-family: 'Exo2-MediumCondensed';
        font-size: 1.389rem;
        line-height: 1.389rem;
        font-style: italic;
      }
    }
    p{
      font-family: "ProximaNova-Light";
      font-size: 18px;
      line-height: 1.667rem;
    }
  }
}
.section.about-us--page-02{
  .container{
    p{
      font-family: "ProximaNova-Light";
      font-size: 18px;
      line-height: 1.667rem;
    }
  }
}
.section.about-us--page-03{
  .container{
    .section-header{
      font-family: 'Exo2-MediumCondensed';
      font-size: 1.222rem;

    }
    .about-us--media{
      .brand-photo1{}
      #aboutUsVideoTrigger{}
    }
    .about-us--page-03-description{
      p{
        font-family: "ProximaNova-Light";
        font-size: 18px;
        line-height: 1.667rem;
      }
      p:first-child{
        font-family: 'Exo2-RegularCondensed';
        font-size: 1rem;
        line-height: 1.389rem;
        font-style: italic;
      }
    }
  }
}
// END page about
// page blog
.section.category-blog{
  .container{
    .breadcrumbs{
      text-transform: uppercase;
      font-family: 'Exo2-RegularCondensed';
      font-size: 0.8333rem;
      line-height:  1.278rem;
    }
    .page-header{
      .section-header--sup{

      }
      .section-header{
        font-family: "PT-Serif-Caption-Web-Regular";
        font-size: 2.222rem;
        line-height: 2.222rem;
      }
    }
  }
  .container{
    .blog-item{
      .thumbnail{}
      .blog-item__description{
        .blog-item__header{
          font-family: 'Exo2-MediumCondensed';
          font-size: 1.222rem;
        }
        .blog-item__date{
          font-family: 'Exo2-LightCondensed';
          font-size: 0.7778rem;
        }
        .blog-item__excerpt{
          font-family: 'ProximaNova-Semibold';
          font-size: 0.8333rem;
        }
        .blog-item__permalink{
          font-family: 'Exo2-RegularCondensed';
          font-size: 0.8889rem;
          text-decoration: underline;
        }
      }
      &:nth-child(3n+2){}
      &:nth-child(3n+3){}
    }
  }
}
// END page blog

// page portfolio-category
.section.category-portfolio{
  .container{
    .breadcrumbs{
      text-transform: uppercase;
      font-family: 'Exo2-RegularCondensed';
      font-size: 0.8333rem;
      line-height:  1.278rem;
    }
    .page-header{
      .section-header--sup{

      }
      .section-header{
        font-family: "PT-Serif-Caption-Web-Regular";
        font-size: 2.222rem;
        line-height: 2.222rem;
      }
    }
  }
  .container{
    .breadcrumbs{
      & span{
      }
    }
    .page-header{
      .section-header--sup{
      }
      .section-header{
      }
    }
  }
  .filters-button-group{
    .btn-tab{
      img{
      }
      span{
      }
    }
  }
  #grid-container{
    article{
      & .thumbnail{
      }
      & .thumbnail-panel{
        & h3{
          font-family: 'Exo2-RegularCondensed';
          font-size: 0.8333rem;
          line-height:  1.278rem;
        }
        & .social-link{
          line-height: 1rem;
          font-size: 1rem;
          text-align: center;
          &.instagram:before{
            content: '\f16d';
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
          }
        }
      }
      &:hover{
        & .thumbnail{
        }
        & .thumbnail-panel{
          font-family: 'Exo2-RegularCondensed';
          font-size: 0.8333rem;
        }
      }
    }
  }
  .portfolio-add-more{
    .btn-dblarrow{
      position: relative;
      overflow: visible;
      margin-left:40%;
      margin-bottom: 50px;
      width:20%;
      &:after{
        font-family: FontAwesome;
        content:'\f021';
        position: absolute;
        right:-0.5rem;
      }
    }
  }
}
// END page portfolio-category
// page portfolio-single
.section.portfolio-single{
  .container{
    .breadcrumbs{
      text-transform: uppercase;
      font-family: 'Exo2-RegularCondensed';
      font-size: 0.8333rem;
      line-height:  1.278rem;
    }
    .page-header{
      .section-header--sup{

      }
      .section-header{
        font-family: "PT-Serif-Caption-Web-Regular";
        font-size: 2.222rem;
        line-height: 2.222rem;
      }
    }
  }
  p{
    font-family: "ProximaNova-Light";
    font-size: 1rem;
    line-height: 1.944rem;
  }
  #gridItemView{
    #gridItemLayout{
      button{
        font-family: "ProximaNova-Light";
        font-size: 1rem;
        line-height: 0.1rem;
        font-weight: bold;

      }
    }
  }
}
// END page portfolio-single
// page service-author-support
.section.single-service.author-support{
  .container{
      .breadcrumbs{
        text-transform: uppercase;
        font-family: 'Exo2-RegularCondensed';
        font-size: 0.8333rem;
        line-height:  1.278rem;
      }
      .page-header{
        .section-header--sup{
          font-family: 'ProximaNova-Semibold';
          font-size: 1.667rem;
          text-align: center;
        }
        .section-header{}
      }
      .section-title{
          font-family: "PT-Serif-Caption-Web-Regular";
          font-size: 2.222rem;
          line-height: 2.222rem;
      }
      &:before{

      }
  }
  .hero-header-wrapper{
    img{

    }
  }
  .necessarity{
    .section-header{
      padding: 40px;
      .section-header--sup{
        font-family: 'ProximaNova-Semibold';
        font-size: 1.667rem;
        text-align: center;
      }
      .section-title{
        font-family: "PT-Serif-Caption-Web-Regular";
        font-size: 2.222rem;
        line-height: 2.222rem;
      }
    }
    p{
      font-family: "ProximaNova-Light";
      font-size: 1rem;
      font-weight: normal;
      line-height:  1.667rem;
      span{
        font-family: "Exo2-MediumCondensed";
        font-size: 1.222rem;
        line-height: 1.622rem;
        text-align: left;
      }
    }
    .col-xs-push-0{
      &:after{
      }
    }
  }
  .service-features{
    .service-features-header{
      .section-header--sup{
        top:70px;
        font-family: 'ProximaNova-Semibold';
        font-size: 1.667rem;
        text-align: center;
      }
      .section-title{
        margin:0;
        padding-left:40px;
        font-family: "PT-Serif-Caption-Web-Regular";
        font-size: 2.222rem;
        line-height: 2.222rem;
      }
    }
    .service-feature-item{
      position: relative;
      width:33%;
      float: left;
      padding: 30px 50px;
      .service-feature-count{
        font-family: "Exo2-MediumCondensed";
        font-size: 1.389rem;
        line-height: 1.622rem;
        text-align: left;
      }
      .service-feature-header{
        font-family: "Exo2-MediumCondensed";
        font-size: 1.222rem;
        line-height: 1.622rem;
        text-align: left;
      }
      .service-feature-description{
        font-family: 'ProximaNova-Regular';
      }
    }
  }
  .calc-price{
    .calc-price-header{
      .section-header--sup{
        top:70px;
        font-family: 'ProximaNova-Semibold';
        font-size: 1.667rem;
        text-align: center;
      }
      .section-title{
        margin:0;
        padding-left:40px;
        font-family: "PT-Serif-Caption-Web-Regular";
        font-size: 2.222rem;
        line-height: 2.222rem;
      }
    }
    .calc-price-wrapper{
      & .price-list{
        &>.price-list-item{
          font-family: 'Exo2-MediumCondensed';
          font-size: 1.222rem;
          &>.price-list--header{
            &:before{
            }
          }
        }
        &.price-list__collapsed{
          &:before{
          }
          & .price-list-item{
            & .price-list--header{
            }
            &.active{
              &>.price-list--header{
              }
            }
          }
        }
        &:before{
        }
      }
      & .price-item--description-wrapper{
        & .price-item--description{
          &>.price-item{
            &.visible{
            }
          }
          & p{
          }
          & .btn-arrow{
            text-align: center;
            &:after{

            }
          }
        }
      }
    }
  }
}
// END page service-author-support
