@import "scrollbar";
@import "mixins";
@import "keyframes";
@import "fonts";
@import "typography";
@import "colors";
@import "images";

:focus {
  outline:0;
}
.section-header--sup{
  display: block;
  transform: rotate(90deg);
  position: absolute;
  left:-5px;
  top:60px;
  &:before{
    content:'—';
    margin-right: 1rem;
  }
}
.btn-arrow{
  padding: 15px 30px;
}
.row.section{
  .container{
  padding-top: 50px;
  position: relative;
  &:before{
    display: block;
    position: absolute;
    z-index: -1;
    left:-124px;
    right:-136px;
    top:0;
    bottom: 0;
    }
  }
}
// index page sections
@import "header";
@import "top-slider";
@import "about-us";
@import "purposes";
@import "instafeed";
@import "why-us";
@import "index-portfolio";
@import "contact-form";
@import "footer";
// END index page sections

// page contacts
.section.title-section{
  .container{
    &:before {
    display: block;
    position: absolute;
    z-index: -1;
    left: -134px;
    right: -136px;
    top: 0;
    bottom: 0;
    }
    .breadcrumbs{
      // margin-left: 50px;
      & span{
        margin:0 0.5rem;
      }
    }
    .page-header{
      display: inline-block;
      width: 100%;
      margin:0;
      padding-bottom: 40px;
      border:0;
      .section-header--sup{
        display: block;
        top:115px;
        left:20px;
      }
      .section-header{
        display: block;
        width:40%;
        float: left;
        margin: 0 0 0 80px;
      }
      .section-header--sub{
        display: block;
        float: right;
        width:50%;
        padding-left: 100px;
      }
    }
  }
}
.section.contacts{
  h2.contacts-page--subheader{
    display: block;
    margin:30px 0;
  }
  .social.contacts-page--social{
    margin-top:0;
  }
}
// END page contacts
// page about
.section.about-us--page-01{
  .container{
    &:before {
    display: block;
    position: absolute;
    z-index: -1;
    left: -134px;
    right: -136px;
    top: 0;
    bottom: 0;
    }
    .breadcrumbs{
      // margin-left: 50px;
      & span{
        margin:0 0.5rem;
      }
    }
    .page-header{
      display: inline-block;
      width: 100%;
      margin:0;
      padding-bottom: 40px;
      border:0;
      .section-header--sup{
        display: block;
        top:115px;
        left:20px;
      }
      .section-header{
        display: block;
        width:40%;
        float: left;
        margin: 0 0 0 80px;
      }
    }
    & .about-us--page-description{
      padding:65px;
      margin-bottom: 100px;
      & .awards img{
        width: 83px;
        height: 83px;
        margin: 30px 15px 30px 0;
      }
    }
    & .about-us--page-media{
      height: inherit;
      & .brand-photo{
        margin:0 30px;
        transform:scale(1.5);
      }
    }
  }
}
.section.about-us--page-02{
  .container{
    padding: 100px 15px;
    &:before {
      display: block;
      position: absolute;
      z-index: -1;
      left: -134px;
      right: -136px;
      top: 0;
      bottom: 0;
    }
    .about-us--page-02-image{
      position: absolute;
      top:100px;
      right:50%;
      & img{
        position: relative;
        width: 100%;
        height:400px;
        float: right;
        margin-right: -15px;
      }
    }
  }
}
.section.about-us--page-03{
  .container{
    min-height: 600px;
    padding-top: 180px;
    padding-bottom: 80px;
    .section-header{
      display: block;
      position: absolute;
      top:-0.5rem;
      left:150px;
      margin:0;
      padding: 0 2rem;
    }
    .about-us--media{
      .brand-photo1{
        position: absolute;
        top:0;
        right:-300px;
        transform: scale(1.3);
      }
      & .btn-logo{
        display: block;
        position: absolute;
        top:200px;
        right:-160px;
        z-index: 2;
        width:300px;
        height:200px;
        border: 0;
      }
      & #aboutUsVideo{
        display: block;
        position: absolute;
        right:200px;
        width: 100%;
        height: 400px;
        bottom:60px;
        z-index: 2;
        &.hidden{
          display: none;
        }
      }
    }
    .about-us--page-03-description{
      padding: 80px 50% 35px 40px;
      p{}
      p:first-child{}
    }
  }
}
// END page about
// page blog
.section.category-blog{
  .container{
    &:before {
    display: block;
    position: absolute;
    z-index: -1;
    left: -134px;
    right: -136px;
    top: 0;
    bottom: 0;
    }
    .breadcrumbs{
      // margin-left: 50px;
      & span{
        margin:0 0.5rem;
      }
    }
    .page-header{
      display: inline-block;
      width: 100%;
      margin:0;
      padding-top: 40px;
      border:0;
      .section-header--sup{
        display: block;
        top:80px;
        left:20px;
      }
      .section-header{
        display: block;
        width:40%;
        float: left;
        margin: 0 0 0 80px;
      }
    }
  }
  .container{
    &>div{
      top:-100px;
      &:nth-child(3n+2){
        transform: translateY(-50px);
      }
      &:nth-child(3n+3){
        transform: translateY(-100px);
      }
      .blog-item{
        margin:15px 0;
        .thumbnail{
          padding:0;
          margin: 0;
          border:0;
          border-radius: 0;
          display: block;
        }
        .blog-item__description{
          display: block;
          padding: 40px;
          .blog-item__header{}
          .blog-item__date{}
          .blog-item__excerpt{
            padding-top: 30px;
          }
          .blog-item__permalink{}
        }
      }
    }
    .btn-dblarrow{
      position: relative;
      overflow: visible;
      margin-left:40%;
      margin-bottom: 50px;
      width:20%;
      &:after{
        font-family: FontAwesome;
        content:'\f021';
        position: absolute;
        right:-0.5rem;
      }
    }
  }
}
// END page blog
// page portfolio-category
.section.category-portfolio{
  .container{
    &:before {
    display: block;
    position: absolute;
    z-index: -1;
    left: -134px;
    right: -136px;
    top: 0;
    bottom: 0;
    }
    .breadcrumbs{
      // margin-left: 50px;
      & span{
        margin:0 0.5rem;
      }
    }
    .page-header{
      display: inline-block;
      width: 100%;
      margin:0;
      padding-top: 40px;
      border:0;
      .section-header--sup{
        display: block;
        top:132px;
        left:20px;
      }
      .section-header{
        display: block;
        width:40%;
        float: left;
        margin: 0 0 0 80px;
      }
    }
  }
  .filters-button-group{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .btn-tab{
      position: relative;
      width: 240px;
      margin:15px;
      padding: 0;
      border:0;
      border-radius: 0;
      overflow:hidden;
      transition: all 0.3s ease-in-out;
      img{
        width:auto;
        height: 400px;
      }
      span{
        display: block;
        width:100%;
        height:4rem;
        padding:0.8rem 15px;
        position: absolute;
        bottom:0;
        left:0;

      }
      &:hover{
        span{
          height: 100%;
          padding-top:80%;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  #grid-container{
    padding: 80px;
    article{
      padding:0;
      max-width:18%;
      // max-height:200px;
      & .thumbnail{
        // max-width:320px;
        width: 100%;
        height: 250px;
        padding: 1%;
        border:0;
        border-radius: 0;
        filter: grayscale(1);
      }
      & .thumbnail-panel{
        position: absolute;
        top:0px;
        // left: 15px;
        // right:15px;
        width:100%;
        opacity: 0;
        height:0;
        & h3{
          width: 80%;
          float: left;
          margin:0;
        }
        & .social-link{
          float: right;
          padding: 0.25rem;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.5rem;
          z-index: 5;
        }
      }
      &:hover{
        overflow: visible;
        transform: scale(1.2) translate(0, -45px);
        height: 300px;
        z-index: 5;
        & .thumbnail{
          filter: none;
          // position: absolute;
          top:0;
          margin:0;
          // left: 0;
          // right:0;
          z-index: 5;
        }
        & .thumbnail-panel{
          z-index: 5;
          opacity: 1;
          box-sizing: border-box;
          height: auto;
          // left: 15px;
          // right: -15px;
          padding: 15px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
// END page portfolio-category
