@import "scrollbar";
@import "mixins";
@import "keyframes";
@import "fonts";
@import "typography";
@import "colors";
@import "images";

:focus {
  outline:0;
}
.section-header--sup{
  display: block;
  transform: rotate(90deg);
  position: absolute;
  left:-5px;
  top:60px;
  &:before{
    content:'—';
    margin-right: 1rem;
  }
}
.btn-arrow{
  padding: 15px 30px;
}
.row.section{
  .container{
  padding-top: 50px;
  position: relative;
  &:before{
    display: block;
    position: absolute;
    z-index: -1;
    left:-124px;
    right:-136px;
    top:0;
    bottom: 0;
    }
  }
}
// index page sections
@import "header";
@import "top-slider";
@import "about-us";
@import "purposes";
@import "instafeed";
@import "why-us";
@import "index-portfolio";
@import "contact-form";
@import "footer";
// END index page sections

@import "page-contacts";
@import "page-about";
@import "page-blog";
@import "page-portfolio-category";
@import "page-portfolio-single";
@import "service-author-support";




// END
