@import "scrollbar";
@import "mixins";
@import "keyframes";
@import "fonts";
@import "typography";
@import "colors";
@import "images";

:focus {
  outline:0;
}
/***header**/
.navbar-fixed-top, #primaryMenuTrigger, .navbar-wrapper{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 120px;
}
.navbar-wrapper{
  & #primaryMenuTrigger{
    // align-self: flex-start;
    position: relative;
    flex-direction: row;
    align-content: flex-start;
    max-width: 10%;
  }
  & #primaryMenu{
    position: relative;
    flex-direction: row;
    // align-content: stretch;
    padding:0;
    max-width: 80%;
  }
  & #primaryRight{
    position: relative;
    flex-direction: row;
    align-content: flex-end;
    max-width: 10%;
  }
}

#primaryMenuTrigger{
  display: flex;
  align-self: flex-start;
  max-width: 10%;
  float: left;
  cursor: pointer;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  & .menu-icon{
    width:40px;
    height:20px;
    margin-right: 20px;
    & .icon-bars{
      width:40px;
      fill:#fff;
    }
    & .icon-bars__1{
      width:30px;
    }
    & .icon-bars__2{}
    & .icon-bars__3{
      width:10px;
    }
  }
  & .menu-title{
  }
}
#primaryMenuTrigger:hover{
  cursor: pointer;
  & .menu-icon{
    width:40px;
    height:20px;
    margin-right: 20px;
    & .icon-bars{
      transform-origin: 100%;
      width:40px;
      fill:#fff;
    }
    & .icon-bars__1{
      width:20px;
    }
    & .icon-bars__2{
      width:20px;
    }
    & .icon-bars__3{
      width:20px;
    }
  }
  & .menu-title{
  }
}
#primaryMenuTrigger ~ #primaryMenu{
  visibility: hidden;
  width:80%;
}
#primaryMenuTrigger.open{
  & .menu-icon{
    transform: rotate(-45deg) translateY(-10px);
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    width:40px;
    height:20px;
    margin-right: 20px;
    & .icon-bars{
      width:40px;
      fill:#fff;
    }
    & .icon-bars__1{
      width:10px;
      transform: rotate(-90deg) translate(-10px,10px);
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    }
    & .icon-bars__2{
      transform: translateX(2px);
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    }
    & .icon-bars__3{
      width:10px;
      transform: rotate(-90deg) translate(-10px, 6px);
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform-origin: left;
    }
  }
  & .menu-title{
    visibility: hidden;
  }
  & ~ #primaryMenu{
    visibility: visible;
    padding:0;
    width:80%;
  }
}
#primaryMenu{
  position: relative;
  z-index: 1;
  max-width: 80%;
  height:120px;
  display: flex;
  flex-direction: row;
  ustify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin: 0;
  & .nav-item{
    padding-right: 50px;
    margin: 0;
  }
  & .nav-item:first-child{

  }
  & .nav-item:nth-child(2n+3){
    margin-right: auto;
  }
  & .nav-item:nth-child(2n+4), .nav-item:nth-child(2n+5){
    justify-content: flex-end;
    // margin: auto;
  }
  & .nav-item:last-child{
    // padding-right: 0;
    margin-right: 0;
  }
}
.navbar-brand{
  position: absolute;
  z-index: 11;
  top:0;
  left:50%;
  padding:0;
  .brand-logo{
    max-height: 120px;
    margin-left: -50%;
  }
}
#primaryRight{
  min-width: 110px;
  max-width:10%;
  text-align: right;
  margin-right: 0;
  .tel{
    display: block;
    width:inherit;
  }
  .email{
    display: none;
  }
  .headerModal-trigger{
    width:inherit;
    border:0;
    background-color: inherit;
    padding:0;
    text-align: right;
  }
}
#headerModal{
  & .modal-content{
    padding:40px;
    & .modal-header{
      border:0;
      & .form-header{}
      & .form-header__sub{
        display: block;
        width: 100%;
        margin-bottom: 1.25rem;
      }
      & .modal-escape{
        position: absolute;
        top:5px;
        right:15px;
      }
    }
    & .modal-body{
      position: relative;
      padding:0;
      & .inputgroup{
        width:50%;
        float: left;
        & input{
          width:80%;
          margin: 0 10%;
        }
        & label{
          margin: 0 10%;
          // transform: translateY(-1.1rem);
        }
        &:hover label{

        }
      }
      & p{
        display: block;
        box-sizing: border-box;
        width:100%;
        & input[type=submit]{
          display: block;
          position: relative;
          margin:auto;
          width:auto;
          padding: 10px 20px;
        }
      }
    }
  }
}
#headerModal input:placeholder-shown ~ label{
// ,
// #headerModal input:-webkit-input-placeholder ~ label,
// #headerModal input:-moz-placeholder ~ label,
// #headerModal input:-ms-input-placeholder ~ label{
  transform: translate(0, -1.5rem);
}
#headerModal input:not(:placeholder-shown) ~ label,
#headerModal input:focus ~ label{
// ,
// #headerModal input:not(:-webkit-input-placeholder) ~ label,
// #headerModal input:not(:-moz-placeholder) ~ label,
// #headerModal input:not(:-ms-input-placeholder) ~ label{
  transform: translate(-0.4rem, -2.5rem) scale(0.8);
  outline:0;
}
::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
#headerModalResponse {
  & .modal-content{
    padding:40px;
    & .modal-header{
      border:0;
      & .form-header{}
      & .form-header__sub{
        display: block;
        width: 100%;
        margin-bottom: 1.25rem;
      }
      & .modal-escape{
        position: absolute;
        top:5px;
        right:15px;
      }
    }
  }
}
@media screen and (min-width:768px) and (max-width:1200px) {
  #primaryMenu{
    position: relative;
    z-index: 1;
    max-width: 80%;
    height:120px;
    display: flex;
    flex-direction: row;
    ustify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 0;
    & .nav-item{
      padding-right: 10px;
      margin: 0;
    }
    & .nav-item:first-child{

    }
    & .nav-item:nth-child(2n+3){
      margin-right: auto;
    }
    & .nav-item:nth-child(2n+4), .nav-item:nth-child(2n+5){
      justify-content: flex-end;
      // margin: auto;
    }
    & .nav-item:last-child{
      // padding-right: 0;
      margin-right: 0;
    }
  }
  #primaryMenuTrigger{
    cursor: pointer;
    & .menu-icon{
      width:40px;
      height:20px;
      margin-right: 20px;
      & .icon-bars{
        transform-origin: 100%;
        width:40px;
        fill:#fff;
      }
      & .icon-bars__1{
        width:20px;
      }
      & .icon-bars__2{
        width:20px;
      }
      & .icon-bars__3{
        width:20px;
      }
    }
    & .menu-title{
    }
  }
}
@media screen and (max-width:767px) {
  .navbar-fixed-top{
    display: block;
    width:100%;
    padding:0;
    height: 55px;
  }
  .navbar-wrapper{
    position: relative;
    display: block;
    width:100%;
    padding:0;
    height: 55px;
    & .navbar-brand{
      position: absolute;
      left:auto;
      right:0;
      top:0;
      & img{
        margin: 0 15px 0 0;
        height:55px;
      }
    }
    & #primaryMenuTrigger{
      height: inherit;
      margin-left: 15px;
      z-index: 12;
    }
    & #primaryMenuTrigger.open{
      position: absolute;
      right:0;
      top:10px;
      z-index: 100;
    }
    & #primaryRight{
      width:100%;
      max-width: 100%;
      padding-left: 56px;
      text-align: left;
      position: relative;
      & .tel{
        height: 55px;
        text-align: left;
      }
      & .email{
        display: none;
      }
      & .headerModal-trigger{
        display: none;
      }
    }
  }

  #primaryMenuTrigger.open{
    & .menu-icon{
      transform: rotate(-45deg) translateY(-10px);
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      width:20px;
      height:20px;
      margin-right: 20px;
      & .icon-bars{
        width:40px;
        fill:#fff;
      }
      & .icon-bars__1{
        width:10px;
        transform: rotate(-90deg) translate(-10px,10px);
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      }
      & .icon-bars__2{
        transform: translateX(2px);
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      }
      & .icon-bars__3{
        width:10px;
        transform: rotate(-90deg) translate(-10px, 6px);
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: left;
      }
    }
    & ~ #primaryMenu{
      visibility: visible;
      padding:0;
      position: relative;
      left:0;
      right:0;
      top:0;
      z-index: 11;
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      margin: 0;
      height: auto;
      & .nav-item{
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        &:hover{

        }
      }
      & .nav-item:first-child{
        margin-top: 55px;
      }
      & .nav-item:nth-child(2n+3){
        margin-right: 0;
        align-self: center;
      }
    }
    & ~ #primaryRight{
      padding: 0 0 47px 0;
      & .tel{
        text-align: center;
      }
      & .email{
        display: block;
        text-align: center;

      }
    }
  }
  #primaryMenuTrigger{
    cursor: pointer;
    & .menu-icon{
      line-height: normal;
      width:40px;
      height:20px;
      margin-right: 20px;
      & .icon-bars{
        transform-origin: 100%;
        width:40px;
        fill:#fff;
      }
      & .icon-bars__1{
        width:20px;
      }
      & .icon-bars__2{
        width:20px;
      }
      & .icon-bars__3{
        width:20px;
      }
    }
    & .menu-title{
      display: none;
      visibility: hidden;
      width:0;
    }
    & ~ #primaryMenu{
      list-style-type: none;
      position: relative;
      width: 100%;
      height: 0;

    }
  }
}
/***END header**/
