@font-face {
  font-family: "ProximaNova-Black";
  src: url("/fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-BlackIt";
  src: url("/fonts/ProximaNova-BlackIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-BoldIt";
  src: url("/fonts/ProximaNova-BoldIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Extrabold";
  src: url("/fonts/ProximaNova-Extrabold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-ExtraboldIt";
  src: url("/fonts/ProximaNova-ExtraboldIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Light";
  src: url("/fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-LightIt";
  src: url("/fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-RegularIt";
  src: url("/fonts/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("/fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-SemiboldIt";
  src: url("/fonts/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Thin";
  src: url("/fonts/ProximaNova-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-ThinIt";
  src: url("/fonts/ProximaNova-ThinIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PT-Serif-Caption-Web-Regular";
  src: url("/fonts/PT-Serif-Caption-Web-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PT-Serif-Caption-Web-Italic";
  src: url("/fonts/PT-Serif-Caption-Web-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-BlackCondensed";
  src: url("/fonts/Exo2-BlackCondensed.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-BlackExpanded";
  src: url("/fonts/Exo2-BlackExpanded.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-BoldCondensed";
  src: url("/fonts/Exo2-BoldCondensed.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-BoldExpanded";
  src: url("/fonts/Exo2-BoldExpanded.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-ExtraBoldCondensed";
  src: url("/fonts/Exo2-ExtraBoldCondensed.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-ExtraBoldExpanded";
  src: url("/fonts/Exo2-ExtraBoldExpanded.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-ExtraLightCondensed";
  src: url("/fonts/Exo2-ExtraLightCondensed.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-ExtraLightExpanded";
  src: url("/fonts/Exo2-ExtraLightExpanded.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-LightCondensed";
  src: url("/fonts/Exo2-LightCondensed.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-LightExpanded";
  src: url("/fonts/Exo2-LightExpanded.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-MediumCondensed";
  src: url("/fonts/Exo2-MediumCondensed.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-MediumExpanded";
  src: url("/fonts/Exo2-MediumExpanded.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-RegularCondensed";
  src: url("/fonts/Exo2-RegularCondensed.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-RegularExpanded";
  src: url("/fonts/Exo2-RegularExpanded.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-SemiBoldCondensed";
  src: url("/fonts/Exo2-SemiBoldCondensed.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-SemiBoldExpanded";
  src: url("/fonts/Exo2-SemiBoldExpanded.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-ThinCondensed";
  src: url("/fonts/Exo2-ThinCondensed.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo2-ThinExpanded";
  src: url("/fonts/Exo2-ThinExpanded.otf");
  font-weight: normal;
  font-style: normal; }

.navbar-fixed-top, .navbar-wrapper, #primaryMenu {
  background-color: #1a171b;
  color: #fff; }

.navbar-fixed-top, #primaryMenuTrigger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px; }

.navbar-wrapper {
  display: inline;
  height: 120px; }

#primaryMenuTrigger {
  width: 100px;
  float: left;
  cursor: pointer;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); }
  #primaryMenuTrigger .menu-icon {
    width: 40px;
    height: 20px;
    margin-right: 20px; }
    #primaryMenuTrigger .menu-icon .icon-bars {
      width: 40px;
      fill: #fff; }
    #primaryMenuTrigger .menu-icon .icon-bars__1 {
      width: 30px; }
    #primaryMenuTrigger .menu-icon .icon-bars__3 {
      width: 10px; }

#primaryMenuTrigger:hover {
  width: 100px;
  cursor: pointer; }
  #primaryMenuTrigger:hover .menu-icon {
    width: 40px;
    height: 20px;
    margin-right: 20px; }
    #primaryMenuTrigger:hover .menu-icon .icon-bars {
      transform-origin: 100%;
      width: 40px;
      fill: #fff; }
    #primaryMenuTrigger:hover .menu-icon .icon-bars__1 {
      width: 20px; }
    #primaryMenuTrigger:hover .menu-icon .icon-bars__2 {
      width: 20px; }
    #primaryMenuTrigger:hover .menu-icon .icon-bars__3 {
      width: 20px; }

#primaryMenuTrigger ~ #primaryMenu {
  display: none; }

#primaryMenuTrigger.open .menu-icon {
  transform: rotate(-45deg) translateY(-10px);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  width: 40px;
  height: 20px;
  margin-right: 20px; }
  #primaryMenuTrigger.open .menu-icon .icon-bars {
    width: 40px;
    fill: #fff; }
  #primaryMenuTrigger.open .menu-icon .icon-bars__1 {
    width: 10px;
    transform: rotate(-90deg) translate(-10px, 10px);
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); }
  #primaryMenuTrigger.open .menu-icon .icon-bars__2 {
    transform: translateX(2px);
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); }
  #primaryMenuTrigger.open .menu-icon .icon-bars__3 {
    width: 10px;
    transform: rotate(-90deg) translate(-10px, 6px);
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left; }

#primaryMenuTrigger.open .menu-title {
  display: none; }

#primaryMenuTrigger.open ~ #primaryMenu {
  display: flex;
  padding: 0; }

#primaryMenu {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0; }
  #primaryMenu .nav-item {
    min-width: 10vw; }
  #primaryMenu:nth(2n+2) {
    padding-right: 150px; }

.navbar-brand {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0; }
  .navbar-brand .brand-logo {
    max-height: 120px;
    margin-left: -50%;
    z-index: 100; }

.navbar-right {
  max-width: 200px;
  text-align: right;
  margin-right: 0; }
  .navbar-right .tel {
    display: block;
    width: 150px; }
  .navbar-right .headerModal-trigger {
    width: 150px;
    border: 0;
    background-color: inherit;
    padding: 0;
    text-align: right; }
